<div style="border: 5px green solid;">
<p>test2 works!</p>
<button (click)="onclickShow($event)">Mostrar nombre</button>
<p>MI VAR: {{myvar1}}</p>

<input type="text" [(ngModel)]="myvar1">
<input type="number" [(ngModel)]="myvar2">
<input type="number" [(ngModel)]="myvar3">

<button id="mybutton"
(click)="test0($event)"
(blur)="test1($event)"
(dblclick)="test2($event)">do click events</button>
<ng-content></ng-content><!--Se envian elementos de afuera y se colocan donde se esncuentre la sentencia-->
</div>

