<div style="border: 2px green solid;">
  admin1 component!

  <p>{{ 3 | exponent:2 }}</p>
  <p>{{ 12 | exponent }}</p>
  <p>{{ 2 | exponent:2 }}</p>

  <app-loader></app-loader>
  <app-card></app-card>
  <div>
    <p>{{ 'amalinalli' | uppercase }}</p>
    <p>{{ 'AMALINALLI' | lowercase }}</p>
    <p *ngFor="let item of ['a', 'b', 'c', 'd', 'e'] | slice: 2:4">
      {{ item }}
    </p>
    <p>{{ auxJson | json }}</p>
  </div>
</div>
<p *ngFor="let item of auxObs$ | async">
  {{ item }}
</p>
<button (click)="onAdd()">ADD</button>
